/* animation to increase the width of the search bar */
@keyframes increaseWidth {
    0% {width: 100%;}
    100% {width: 600px;}
}           
@keyframes decreaseWidth {
    0% {width: 600px;}
    100% {width: 100%;}
}

.search-bar:focus{
    animation: increaseWidth 0.5s ease-out forwards;
    background-color: #f8f8f8;
    color: #110a30;
    font-weight: bolder;
}
.search-bar:not(:focus){
    animation: decreaseWidth 0.5s ease-out forwards;
}
